.created-row-item {
    // background-color: rgba($color: rgb(36, 113, 255) , $alpha: 1.0);
}

.not-assessable-row-item {
    color: gray;
}

.discard-row-item {
    color: gray;
}

.not-created-row-item {
    background-color: rgba($color: #3F51B5 , $alpha: 1.0);
    color:white;
}

