<span #entry></span>

<ng-template #fen1>

  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="70" class="viewport">
      <mat-list-item [id]="row.id" *cdkVirtualFor="let row of rowsConfig.rows; trackBy: trackById" [ngClass]="setColorClass(row)">
        <mat-icon *ngIf="row.selected === null " mat-list-icon>nature</mat-icon>
        <mat-icon *ngIf="row.selected === 'no_selected'" mat-list-icon>remove_circle</mat-icon>
        <mat-icon *ngIf="row.selected === 'selected'" mat-list-icon>stars</mat-icon>

        <h2 mat-line>Planta {{row.location}}</h2>
        <h4 mat-line *ngIf="row.discard">DESCARTADA</h4>
        <h4 mat-line *ngIf="!row.assessable && !row.discard">RESTRINGIDA</h4>
        <h4 mat-line *ngIf="row.assessable && !row.discard && !row.created ">SIN EVALUAR</h4>
        <h4 mat-line *ngIf="row.filter">FILTRAJE</h4>
        <!-- <h4 mat-line *ngIf="row.assessable && !row.discard && row.created ">EVALUADA</h4> -->
        <button mat-icon-button (click)="assessment(row.id)" *ngIf="row.assessable" slot="end" fill="clear" size="default">
          <mat-icon *ngIf="editable">create</mat-icon>
          <mat-icon *ngIf="!editable">visibility</mat-icon>
        </button>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>

</ng-template>

<ng-template #brix>

  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="70" class="viewport">
      <mat-list-item [id]="row.id" *cdkVirtualFor="let row of rowsConfig.rows; trackBy: trackById" [ngClass]="setColorClass(row)">
        <mat-icon mat-list-icon *ngIf="!row.filter">nature</mat-icon>
        <mat-icon mat-list-icon *ngIf="row.filter" style="color: red;">adjust</mat-icon>
        <h2 mat-line>Planta {{row.location}}</h2>
          
        <h4 mat-line *ngIf="row.discard">DESCARTADA</h4>
        <h4 mat-line *ngIf="!row.assessable && !row.discard">RESTRINGIDA</h4>
        <h4 mat-line *ngIf="row.assessable && !row.discard && !row.created ">SIN EVALUAR</h4>
        
        <!-- <h4 mat-line *ngIf="row.assessable && !row.discard && row.created ">EVALUADA</h4> -->
        <p mat-line *ngIf="row.brix">
          <mat-chip-list>
            <mat-chip color="accent" selected>{{row.brix}} Brix</mat-chip>
          </mat-chip-list>
        </p>
        <button mat-icon-button (click)="more(row, {rowFilter: row.filter})" *ngIf="row.assessable" slot="end" fill="clear" size="default">
          <mat-icon *ngIf="editable">create</mat-icon>
          <mat-icon *ngIf="!editable">visibility</mat-icon>
        </button>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>

</ng-template>

<ng-template #fen0>
  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="70" class="viewport">
      <mat-list-item *cdkVirtualFor="let row of rowsConfig.rows; trackBy: trackById" [id]="row.id" [ngClass]="setColorClass(row)">
        <mat-icon *ngIf="row.selected === null " mat-list-icon>nature</mat-icon>
        <mat-icon *ngIf="row.selected === 'no_selected'" mat-list-icon>remove_circle</mat-icon>
        <mat-icon *ngIf="row.selected === 'selected'" mat-list-icon>stars</mat-icon>

        <h2 mat-line>Planta {{row.location}}</h2>
        <h4 mat-line *ngIf="row.discard">DESCARTADA</h4>
        <h4 mat-line *ngIf="!row.assessable && !row.discard">RESTRINGIDA</h4>
        <h4 mat-line *ngIf="row.assessable && !row.discard && !row.created ">SIN EVALUAR</h4>
        <!-- <h4 mat-line *ngIf="row.assessable && !row.discard && row.created ">EVALUADA</h4> -->

        <button mat-icon-button *ngIf="row.assessable" slot="end" fill="clear" size="default">
          <mat-icon (click)="options(row)" *ngIf="editable">create</mat-icon>
          <mat-icon (click)="assessment(row.id)" *ngIf="!editable">visibility</mat-icon>
        </button>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>

</ng-template>