<mat-toolbar class="mat-elevation-z6 toolbar-fixed" color="primary">
  <mat-toolbar-row>
    <div fxFlex="25%" align="star">
    </div>
    <h1 fxFlex="50%" align="center">
      Regístrate
    </h1>
    <!-- VERSION  -->
    <p>v4.5.22</p>
    <!-- /VERSION -->
    <div fxFlex="25%" align="end">
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" class="app-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="EMAIL" type="email" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="PASSWORD" [(ngModel)]="password">
  </mat-form-field>


  <button mat-button (click)="login()"> INGRESAR</button>
</div>


<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->