<mat-toolbar class="mat-elevation-z6 toolbar-fixed" color="primary">
  <mat-toolbar-row>
    <div fxFlex="25%" align="star">
      <button mat-icon-button (click)="goBackConfirm()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div align="center" fxFlex="50%" fxLayout="column" fxFlexAlign="baseline">
      <div style="margin:0; padding: 0;">{{position$ | async}}</div>
      <div style="font-size:10px; margin:0; padding: 0;">{{name$ | async}}</div>
    </div>
    <div fxFlex="25%" align="end">
      <button *ngIf="!(assessLoading$ | async)" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateAssess()">
          <mat-icon>sync</mat-icon>
          <span>Actualizar</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
      
  </mat-toolbar-row> -->
</mat-toolbar>

<div class="app-container">

  <div style="text-align:center;" *ngIf="(assessLoading$ | async)">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!(assessLoading$ | async)">
    <div *ngIf="(attrNoAssessed$ | async)?.length">
      Falta por evaluar:
      <ul>
        <li *ngFor="let attrAss of attrNoAssessed$ | async ">
          {{attrAss.name}}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="!(assessLoading$ | async)" fxLayout="column" fxLayoutAlign="space-between">
    <app-attribute style="padding-bottom:15px; " *ngFor="let attr of activeAttr | async" [attribute]="attr" (goAssess)="assessAttr($event)" [canEdit]="canEdit$ | async"></app-attribute>
  </div>
</div>