<mat-toolbar class="mat-elevation-z6 toolbar-fixed" color="primary">
  <mat-toolbar-row>
    <div fxFlex="25%" align="star">
    </div>
    <h1 fxFlex="50%" align="center">
      Evaluaciones
    </h1>
    <div fxFlex="25%" align="end">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>clear</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container">
  <mat-list>
    <mat-list-item *ngFor="let assess of assessmentList$ | async">
      <mat-icon mat-list-icon>assignment</mat-icon>
      <h4 mat-line>{{assess.label}}</h4>
      <button mat-button (click)="activate(assess.id)">
        <mat-icon *ngIf="assess.editable" mat-icon>create</mat-icon>
        <mat-icon *ngIf="!assess.editable" mat-icon>visibility</mat-icon>
      </button>
      <!-- <p mat-line> {{folder.updated | date}} </p> -->
    </mat-list-item>
  </mat-list>
</div>