<mat-card style="position:relative;">
  <mat-card-header align="center">
    <mat-card-title>{{description | async}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span #entry></span>
  </mat-card-content>
</mat-card>

<ng-template #listViewTmpl>

  <div align="center" *ngIf="(listViewValue | async)?.length">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile *ngFor="let img of listViewValue | async">
        <img *ngIf="img" class="thumbnail" (click)="presentModal(img.url)" [src]="img.thumbnail" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="display:block; position: absolute; top:-10px; right:-10px;" *ngIf="canEdit">
    <button mat-fab color="accent" (click)="assessAttr()">
      <mat-icon>create</mat-icon>
    </button>
  </div>

  <!-- <div style="text-align:center;">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let img of listViewValue | async" style="text-align:center;">
          <img *ngIf="img" class="thumbnail" (click)="presentModal(img.url)" [src]="img.thumbnail" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="canEdit">
    <ion-button *ngIf="(currentNumOfPics | async) !== 0canEdit" (click)="assessAttr()" style="margin-top: 30px;" expand="block"
      size="large" color="tertiary">
      Modificar <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
    </ion-button>

    <ion-button *ngIf="(currentNumOfPics | async) === 0 && canEdit" (click)="assessAttr()" style="margin-top: 30px;"
      expand="block" size="large" color="tertiary">
      Evaluar <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
    </ion-button>
  </div> -->
</ng-template>

<ng-template #editViewTmpl>

  <!-- picture gallery -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let img of listViewValue | async; let i = index; " style="text-align:center;">
        <img *ngIf="img" class="thumbnail" (click)="presentActionSheet(img.url, i)" [src]="img.thumbnail" alt="">
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div align="center">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile *ngFor="let img of listViewValue | async; let i = index; ">
        <img *ngIf="img" class="thumbnail" (click)="presentActionSheet(img.url, i)" [src]="img.thumbnail" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <button *ngIf=" (currentNumOfPics | async) < (numOfPics | async)"
  style="display:block; position: absolute; top:-10px; right:-10px;" mat-fab color="accent" (click)="takePic()">
    <mat-icon>add_a_photo</mat-icon>
  </button>
  <div align="center" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <app-image-picker hidden (selection)="onCapture($event)" label="Tomar una foto "> </app-image-picker>

  <!-- number of picture allow -->
  <!-- <p style="text-align: center"> fotos: {{currentNumOfPics | async}} de {{numOfPics | async}} </p>

  <div *ngIf=" (currentNumOfPics | async) < (numOfPics | async) && !uploading">
    <image-picker *ngIf="!theFile" (selection)="onCapture($event)" label="Tomar una foto "> </image-picker>
    <ion-button color="tertiary" expand="full" *ngIf="theFile" (click)="uploadAndSave()">
      Guardar la foto <span style="margin-right: 10px;"></span>
      <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
    </ion-button>
    <ion-button color="tertiary" expand="full" *ngIf="theFile" (click)="cancelPhoto()">
      Eliminar la foto <span style="margin-right: 10px;"></span>
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
    </ion-button>
  </div>-->
  <!-- loading dots -->
  <!-- <ion-button color="tertiary" expand="full" *ngIf="uploading">
    <ion-spinner name="dots"></ion-spinner>
  </ion-button>  -->
</ng-template>